.about__wrapper {

    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    // padding: 20px;
    @include mediaFrom(lg) {
        text-align: left;
    }
    
    h1 {
        position: relative;
        bottom: 45px;
        letter-spacing: 1px;

        @include themify(){
            color: themed("text-color");
        }

        @include mediaFrom(lg) {
            font-size: 45px;
            letter-spacing: 2px;
            bottom: 0px;
        }
    }

    p {
        letter-spacing: 0.9px;
        line-height: 22px;
        margin-bottom: 2rem;
        @include themify(){
            color: themed("text-color");
        }

        @include mediaFrom(lg) {
            max-width: 500px;
            margin-top: 40px;
        }
    }
}