.contact {

    &__wrapper {
        text-align: center;
        @include mediaFrom(lg) {
            text-align: left;
        }
    }

    &__item {

        margin: 20px 0;
        @include themify(){
            color: themed("text-color");
        }

        i {
            margin-right: 10px;
        }
    }
}

.contact-screen {

    &__title {
        padding-top: 60px;
    }

    
    &__wrapper {

        margin-top: 100px;

        
        h1, p {
            text-align: center;
            
            @include themify(){
                color: themed("text-color");
            }
        }

        p {
            cursor: pointer;
        }

        a {
            
            @include mediaFrom(lg) {
                text-align: center !important;
                display: block;
            }
        }

        .contact__wrapper {
            margin: 100px 0;
        }

    }
}

.info {
    @include mediaFrom(lg) {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        margin-bottom: 120px;
    }
}