footer {

    padding:  60px 0;
    p, a {
        @include themify(){
            color: themed("text-color");
        }
    }

    .footer__main-container {
        display: flex;
        justify-content: space-evenly;
        @include mediaTo(md) {
            flex-direction: column-reverse;
            align-items: center;
        }
    }

    .footer__legal {
        letter-spacing: 0.9px;
        font-size: 12px;

        @include mediaTo(md) {
            margin-top: 20px;
        }
    }

    .footer__social-list {
        display: flex;

        li {
            margin: 0 10px;
        }
    }
}