

.main-container {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .theme--dark &{
        background-image: url('../../../public/images/bg-dark-mobile.JPEG');

        @include mediaFrom(lg) {
            background-image: url('../../../public/images/bg-dark-desktop.JPEG');
        }
    }

    .theme--light &{
        background-image: url('../../../public/images/bg-light-mobile.JPEG');
        @include mediaFrom(lg) {
            background-image: url('../../../public/images/bg-light-desktop.JPEG');
        }
    }
}

.subtitle {
    position: relative;
    margin-bottom: 30px;

    @include themify(){
        color: themed("text-color");
    }

    &::after {
        position: absolute;
        content: '';
        width: 150px;
        height: 1px;
        background-color: $c-light-gray;
        bottom: -7px;
        left: 0;
    }
}