.projects {

    &__main-container {
        padding: 0 20px;
        margin-top: 75px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    &__more {
        @include themify(){
            color: themed("text-color");
        }
    }
}