// Theme
@import './theme/theme.scss';
@import './theme/theme-config.scss';

// Base
@import './base/settings';
@import './base/base';
@import './base/mixins';
@import './base/utilities';

//Components
@import './components/navbar';
@import './components/logo';
@import './components/theme-btn';

h1 {
    @include themify(){
        background-color: themed("bg");
        color: themed("text-color");
    }
}

.main-content {
    @include themify(){
        background-color: themed("bg");
    }
    height: 100vh;
}