* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $f-body;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: initial;
}

button {
    border: none;
    background-color: transparent;
}

h1 {
    font-family: $f-title;
}

.f-body {
    font-family: $f-body;
}

.mt-5 {
    margin-top: 25px;
}

.mr-4 {
    margin-right: 20px;
}

.c-primary {
    color: $c-primary;
}