* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $f-body;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: initial;
}

button {
    border: none;
    background-color: transparent;
}

h1 {
    font-family: $f-title;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.center {
    padding: 0 20px;
}

.f-body {
    font-family: $f-body;
}

.mt-5 {
    margin-top: 25px;
}

.mr-4 {
    margin-right: 20px;
}

.c-primary {
    color: $c-primary;
}

.btn {
    padding: 10px 50px;
    border-radius: 5px;
    text-align: center;
    letter-spacing: 1px;
}

.btn-primary {
    background-color: $c-primary;
    color: #fff;
}

.btn-block {
    display: block;
}